
.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px 477px 50px;
    background-image: url(assets/mansion\,\ old\,\ night\ 1.jpg);
    background-size: cover;
    
    
}

.logo {
    color: #D0BD45;
    font-size: 48px;

}

.nav-container {
    display: flex;
    justify-content: space-between; /* Verteilung der Kategorien */
    gap: 120px;
    align-items: center;
    list-style: none;
    padding: 0,0,0,477;
    margin: 0;
}

.nav-container li {
    flex: 1; /* Damit jede Kategorie gleich breit ist */
    text-align: center;
}
.nav-container a {
    font-size: 40px;
    text-decoration: none;
    color: #D0BD45;
}

/* Hover-Effekt für Links */
.nav-container a:hover {
    color: #f4a261;
}

body {
    background-color: #091F2F;
}
.paragraph {
    padding: 0px 50px 50px 50px;

}


.paragraph_kontakt {
    padding: 0px 50px 50px 50px;
    line-height: 10px;
}

p {
    color: white;
    font-size: 26px;
}
h1 {
    color: #D0BD45;
    font-size: 36px;
    padding-bottom: 30px;
}
.kontakt {
    display: flex;
    flex-direction: row;
    gap: 1px;
    align-items: center;
    gap: 300px;
}

.footer {
    background-color: #D0BD45;
    padding: 50px 100px 50px 100px;
}

.footer_list {
    display: flex;
    justify-content: space-between;
    color: #091F2F;
}